html,
body {
	margin: 0;
	padding: 0;
}

body {
	@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono');
	width: 100%;
	height: 100%;
	font-family: 'Montserrat';
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
}