.ic-brand--header {
	letter-spacing: 3px;
}

.ic-image--card {
	margin: 20px 0;
	padding: 10px;
	width: 100%;
	height: 360px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

.ic-image--wrapper {
	margin: auto;
	width: 300px;
	height: 300px;
}

.ic-image {
	width: 100%;
	height: 100%;
}
